#em-wrapper 
  h2
    margin-top .8em
    margin-bottom .3em
    font-weight 200
    text-transform: capitalize;
  a
    color black
  .row
    padding-left 18px
    .col-sm-1
      margin-top .5em
      padding 0
    .col-sm-10
      margin-top 24px

.css-events-list
  img
    width 50px
    margin-top 20px

.calendar-date
  background: #d46156;
  line-height: 78px;
  text-transform: capitalize;
  background: url("img/exagon.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-transform: capitalize;
  color: #fff;
  font-weight: 800;
  width: 68px;

@media screen and (max-width 500px)
  #calendario-title
    font-size 45px
