#bio-title
	color red
	font-size 5em
	margin-bottom 0

.actor-photo
	float left
	margin-right 1em
	margin-bottom 1em
	width 200px
	height 200px
	overflow hidden
	position relative
	img
		height 100%
		width auto
		left: 50%;
		transform: translateX(-50%);
		position: absolute;

.actor-name
	margin-top 0
	color red
	font-family Georgia, serif

.actor-description p
	font-size 14px
	line-height 1.2em

.persone-header
	// height 400px
	// overflow hidden
	img
		width 100%
		height auto