#corso-cover
  background-size cover !important
  background-position center !important
  background-attachment fixed !important
  height 350px
  background #D8D8D8
  overflow hidden

#corso-title
  color black