footer
	// background #868686
	background #303030
	width 100%
	margin-top 1.5em
	color white

#footer-contatti
	text-align left
	img
		margin-right 1em
		margin-bottom .5em
		height 2em

#footer-credits
	text-align right

#footer-logo
	text-align center
	img
		width 100px