footer
	// background #868686
	background #565656
	border-top 1px solid #4A4A4A
	// background #303030
	width 100%
	margin-top 3em
	color white

#footer-contatti
	text-align right
	img
		margin-left 1em
		margin-bottom .5em
		height 2em

#footer-credits
	text-align right

#footer-logo
	margin-left 15px
	text-align center
	img
		width 200px