body
  margin-top 48px
  opacity 0

h2
  font-size 2.3em
  color #2C3E50
  margin-top 1.5em
  margin-bottom .5em

h1
  font-size 5em
  color red
  margin-top .8em
  margin-bottom 0
  
ul
  padding 0

a:hover
  color red
  text-decoration none

button
  background red
  color white
  border-radius 5px
  border transparent
  margin-top .8em
  font-size 20px

.text-center
  text-align center

.text-right
  text-align right

span.amp
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight 300

#notfound-title 
  color white
  text-shadow 0 1px 2px black
  position absolute
  bottom 80px
  h1
    font-size 60px


#notfound-parallax
  height 500px
  position relative
  overflow hidden
  background-size cover !important
