h2 {
  font-family: 'Raleway', sans-serif;
}
#parallax-wrapper {
  position: relative;
}
#home-parallax {
  background: url("img/home.jpg");
  height: 650px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: -88px;
}
@media screen and (max-width: 1047px) {
  #home-parallax {
    height: 550px;
  }
}
@media screen and (max-width: 500px) {
  #home-parallax {
    height: 380px;
    background-position: center;
  }
  #scroll-me {
    display: none;
  }
}
#scroll-me {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
  color: #fff;
}
#scroll-me .floatx {
  margin-top: 1em;
  -webkit-animation-name: Floatingx;
  -moz-animation-name: Floatingx;
  -o-animation-name: Floatingx;
  -ms-animation-name: Floatingx;
  animation-name: Floatingx;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#home-intro {
  font-size: 24px;
  margin: 1em auto;
}
#home-events {
  list-style-type: none;
  margin-bottom: 1em;
}
.events-date-wrapper {
  background: url("img/exagon.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  width: 51px;
  height: 58px;
  float: left;
  line-height: 1.5em;
  margin-right: 1em;
}
.events-date {
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  margin: 4px 0 0 0;
}
.events-date span {
  font-size: 1.4em;
}
.events-name,
.events-place {
  line-height: 1.2em;
  margin: 0;
  font-size: 1.4em;
}
#facebook iframe {
  height: 600px;
}
.festival-banner {
  margin: 1em auto;
  padding: 0;
  background-color: #f00;
  width: 100%;
  height: 110px;
  overflow: hidden;
}
.festival-banner-img {
  position: relative;
  float: left;
  height: auto;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .festival-banner-img {
    display: none;
    width: 0;
  }
}
.festival-banner-desc {
  position: relative;
  float: left;
  width: calc(100% - 300px);
  height: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.festival-banner-desc h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0.4em;
}
.festival-banner-desc a {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.festival-banner-desc a:hover {
  color: #fff;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .festival-banner-desc {
    width: 100%;
  }
}
@-moz-keyframes Floatingx {
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  8% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  16% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  24% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  32% {
    -webkit-transform: translate(0, 1px);
    -moz-transform: translate(0, 1px);
    -o-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    transform: translate(0, 1px);
  }
  100% {
    -webkit-transform: translate(0, -1px);
    -moz-transform: translate(0, -1px);
    -o-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    transform: translate(0, -1px);
  }
}
@-webkit-keyframes Floatingx {
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  8% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  16% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  24% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  32% {
    -webkit-transform: translate(0, 1px);
    -moz-transform: translate(0, 1px);
    -o-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    transform: translate(0, 1px);
  }
  100% {
    -webkit-transform: translate(0, -1px);
    -moz-transform: translate(0, -1px);
    -o-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    transform: translate(0, -1px);
  }
}
@-o-keyframes Floatingx {
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  8% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  16% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  24% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  32% {
    -webkit-transform: translate(0, 1px);
    -moz-transform: translate(0, 1px);
    -o-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    transform: translate(0, 1px);
  }
  100% {
    -webkit-transform: translate(0, -1px);
    -moz-transform: translate(0, -1px);
    -o-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    transform: translate(0, -1px);
  }
}
@keyframes Floatingx {
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  8% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  16% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  24% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  32% {
    -webkit-transform: translate(0, 1px);
    -moz-transform: translate(0, 1px);
    -o-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    transform: translate(0, 1px);
  }
  100% {
    -webkit-transform: translate(0, -1px);
    -moz-transform: translate(0, -1px);
    -o-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    transform: translate(0, -1px);
  }
}
