h2 {
  font-family: 'Raleway', sans-serif;
}
#parallax-wrapper {
  position: relative;
}
#home-parallax {
  background: url("../img/home.jpg");
  height: 650px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: -88px;
}
#scroll-me {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
}
#scroll-me .floatx {
  margin-top: 1em;
  -webkit-animation-name: Floatingx;
  -moz-animation-name: Floatingx;
  -o-animation-name: Floatingx;
  -ms-animation-name: Floatingx;
  animation-name: Floatingx;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
#home-intro {
  font-size: 24px;
  max-width: 44em;
  margin: 1em auto;
}
#home-events {
  list-style-type: none;
  margin-bottom: 1em;
}
.events-date-wrapper {
  background: url("../img/exagon.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  width: 51px;
  height: 58px;
  float: left;
  line-height: 1.5em;
  margin-right: 1em;
}
.events-date {
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  margin: 4px 0 0 0;
}
.events-date span {
  font-size: 1.4em;
}
.events-name,
.events-place {
  line-height: 1.2em;
  margin: 0;
  font-size: 1.4em;
}
@-moz-keyframes Floatingx {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  55% {
    -webkit-transform: translate(0, 3px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@-webkit-keyframes Floatingx {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  55% {
    -webkit-transform: translate(0, 3px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@-o-keyframes Floatingx {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  55% {
    -webkit-transform: translate(0, 3px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@keyframes Floatingx {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  55% {
    -webkit-transform: translate(0, 3px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
