@import '../bower_components/nib'

h2
  font-family: 'Raleway', sans-serif;

#parallax-wrapper
  position relative

#home-parallax
  background: url("../img/home.jpg")
  height 650px
  background-repeat no-repeat
  background-size cover
  margin-top -88px

@keyframes Floatingx {
    0% {-webkit-transform:translate(0, 0px);}
    55% {-webkit-transform:translate(0, 3px);}
    100% {-webkit-transform: translate(0, -0px);    }    
}

#scroll-me
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color white
  .floatx
    animation-name: Floatingx
    animation-duration: 1.5s
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

#home-intro
  font-size: 24px;
  max-width: 44em;
  margin: 1em auto;

#home-events
  list-style-type none

.events-date
  background url("../img/exagon.png")
  background-size cover
  background-repeat no-repeat
  padding 5px
  color white
  font-weight bold
  width 51px
  text-align center
  line-height 1.5em
  float left
  margin: 0 1em 0 0;
  span
    font-size 1.4em

.events-name, .events-place
  line-height 1.1em
  margin 0