#spettacoli-container
  margin-left -4%
  overflow hidden

.spettacoli-mask
  height 500px
  overflow hidden
  width 24%
  margin-right 1%
  transform:skewX(-20deg);
  float left
  img
    height 100%
    margin-left -35%
    transform:skewX(20deg);

@media screen and (max-width: 768px)
  .spettacoli-mask
    width 49%
    margin-bottom 1em