#spettacolo-parallax
  height 500px
  position relative
  overflow hidden
  background-size cover !important
  img
    width 100%
    height auto


#spettacolo-title
  color white
  text-shadow 0 1px 2px black
  position absolute
  bottom .3em

@media screen and (max-width: 1400px) and (min-width: 800px)
  #spettacolo-parallax
    height 450px

@media screen and (max-width: 800px)
  #spettacolo-parallax
    height 300px
  #spettacolo-title
    font-size 4em

@media screen and (max-width: 500px)
  #spettacolo-title
    font-size 45px