#spettacoli-container
  margin-left -4%
  overflow hidden

#spettacoli-title
  margin .3em 0 .2em 0
  text-align right

.spettacoli-mask
  height 500px
  overflow hidden
  width 24%
  margin-right 1%
  transform:skewX(-15deg)
  float left
  position relative
  &:hover
    .spettacoli-hover
      height 100%
      transition .3s
    img
      transform scale(1.2) skewX(15deg)
      transition .7s
      transition-timing-function: ease
    .spettacoli-title
      text-shadow none
  img
    height 100%
    margin-left -35%
    transform:skewX(15deg)
    transition .7s

.spettacoli-hover
  height 0
  transition .3s
  position absolute
  background rgba(red, .8)
  right 0
  width 100%
  z-index 254
  overflow hidden
  p
    color white
    position absolute
    top 43%
    left 42%
    // transform skewX(15deg)
    border 2px solid white
    padding 2em

.spettacoli-title
  position absolute
  top 0
  transform:skewX(15deg)
  font-family Georgia, serif
  color white
  width 90%
  padding 0 1em
  text-align left
  z-index 256
  margin-top .4em
  margin-right 1em
  text-shadow 0 1px 1px #353535

@media screen and (max-width: 768px)
  .spettacoli-mask
    width 49%
    margin-bottom 1em
  .spettacoli-mask
    height 300px
    img
      width 160%
      height auto

@media screen and (max-width: 1440px) and (min-width: 930px)
  .spettacoli-title
    font-size 24px

@media screen and (max-width: 930px)
  .spettacoli-title
    font-size 16px