/*
Theme Name: Teatro Bresci
Theme URI: www.teatrobresci.it
Author: Babbies Production
Author URI: http://www.babbiesproduction.com
Description: Teatro Bresci wordpress theme
Version: 1.0
License: MIT license
License URI: http://opensource.org/licenses/MIT
Tags: teatro bresci, teatro, citadella, babbies production
Text Domain: teatrobresci teatro bresci
*/

@import "css/colors"
@import "css/bootstrap/bootstrap.css"
@import "css/navbar"
@import "css/home"
@import "css/footer"
@import "css/chi-siamo"
@import "css/general"